/*Hacer que el secction tome el tamaño de su contenido
Hacer que el contenido baje*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
section {
    display: grid;
    background-color: aqua;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "uno dos tres"
    "cuatro cinco seis"
    "siete siete siete"
    ;
}
div{
    background-color: gray;
    padding: 1rem;
    width: 100px;
    height: 100px;
    
}
.uno{
    grid-area: uno;
}
.dos{
    grid-area: dos;
}
.tres{grid-area: tres;}
.cuatro{
    grid-area: cuatro;
}
.cinco{
    grid-area: cinco;
    height: 600px;
    width: 500px;
}
.seis{
    grid-area: seis;
}
.siete{
    grid-area: siete;
}